<h1>Normalize</h1>

<%= form_tag root_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search', :name => nil %>
    </p>
<% end %>

<table>
  <% unless @ads_entries.nil? %>
      <% for ads_entry in @ads_entries %>
          <tr>
            <td><%= ads_entry.taisaadress %></td>
          </tr>
      <% end %>
  <% end %>
</table>